<footer class="footer footer--light">
    <div class="container">
        <div class="footer__widgets">
            <div class="row">

                <div class="col-lg-2 col-md-6">
                    <aside class="widget widget_nav_menu">
                        <h4 class="widget-title">لینک های سریع</h4>
                        <ul>
                            <li><a href="/Auth/Register">ثبت نام در سایت</a></li>
                            <li><a href="/Auth/Login">ورود به سایت</a></li>
                            <li><a href="/Index">صفحه اصلی</a></li>

                        </ul>
                    </aside>
                </div>


            </div>
        </div>
    </div> <!-- end container -->
</footer> <!-- end footer -->
