@{
    var selected = ViewData["Selected"]?.ToString()?.ToLower();
}

<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            
            <li >
                <a href="/Index">
                    <i class="fa fa-dashboard"></i> <span>صفحه اصلی سایت</span>
                </a>
            </li>

            <li class="@(selected == "index" ? "active" : null)">
                <a href="/Admin/Home/Index">
                    <i class="fa fa-dashboard"></i> <span>داشبرد</span>
                </a>
            </li>

            <li class="@(selected == "category" ? "active" : null)">
                <a asp-area="Admin" asp-controller="Category" asp-action="Index">
                    <i class="fa fa-th"></i> <span>دسته بندی ها</span>
                </a>

            </li>
            <li class="@(selected == "post" ? "active" : null)">
                <a asp-area="Admin" asp-controller="Post" asp-action="Index">
                    <i class="fa fa-th"></i> <span>پست ها</span>
                </a>
            </li>
        </ul>
    </section>

</aside>